
@import 'scss/theme2/variables';

@import 'bootstrap/scss/bootstrap';
@import 'scss/theme2/bootswatch';

@font-face {
  font-family: 'Changa';
  src: url('/fonts/changa/Changa-VariableFont_wght.ttf') 
  // url('/fonts/changa/static/Changa-Bold.ttf')
  // url('/fonts/changa/static/Changa-Regular.ttf')
  // url('/fonts/changa/static/Changa-Light.ttf') ;
}

body {
  margin: 0;
  font-family: 'Changa', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 

.btn-glass {

  padding: 10px 15px;
  border-radius: 10px; 
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer; 
  transition: all 0.15s;

  &.circle{
    border-radius: 100%;

  }

  &:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition: all 0.15s;
  }
}

.page-header{
  padding-top: 15px ;
  // backdrop-filter: blur(6px);
  // background-color: rgba(255, 255, 255, 0.185);

  .muted{
    color: rgb(223, 222, 222) ;
  }
}

.theme-solid {
    
}

.theme-natural {
    
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.226);

  .btn-glass {
 
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);    
    // box-shadow: 0 0 20px #ffffff8c;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15); 
    }
  }

}

.theme-barbary {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.226) ;

  .btn-glass {
 
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);    
    // box-shadow: 0 0 20px #ffffff8c;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15); 
    }
  }

  .text-muted{
    color: rgb(51, 51, 51) !important ;
  }
}


  