
.appConfig {
    height: 100vh; 
 
    .headerText{
        color: white;
    }
}

:global(.theme-barbary) {  
    .appConfig {
        backdrop-filter: blur(20px);
        // transition: all 50s;
        // animation: blur-in 300ms 0.0s forwards; /* Important */
    } 
}
@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(20px);
  }
}
 

  