
.chartBottomContainer {
    position: relative;
    z-index: 0;
    
    .chartBottom {
        width: 100%;
        background: linear-gradient(to bottom, rgba(255,255,255,0.19) 5%, #ffffff00 100%);
        height: 300px;
        margin-top: -8px;
        position: absolute;
    }

}


:global(.theme-natural) {   
    .chartBottom { 
        background: linear-gradient(to bottom, rgba(255,255,255,0.8) 50%, #ffffff00 100%);
        height: 800px; 
    }
} 

:global(.theme-barbary) {  
    .chartBottom { 
        background: linear-gradient(to bottom, rgba(255,255,255,0.8) 50%, #ffffff00 100%);
        height: 600px;  
    }
}
  